@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --light-1: #ffffff;
  --light-2: #f7f9fa;
  --light-3: #ecf0f4;

  --dark-1: #050931;
  --dark-2: #636972;
  --dark-3: #8f91a1;

  --primary: #55bc7e;

  --transition: 150ms;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-1);
  background: var(--light-1);
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.container {
  max-width: calc(1200px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 0.75em 1.25em;
  border: none;
  background: none;
  border-radius: 0.15em;

  &.primary {
    background: var(--primary);
    color: var(--light-1);
  }
}

input {
  font-size: 18px;
  padding: 0.75em 1em;
  color: var(--dark-3);
  border: 1px solid transparent;
  border-right: none;
  transition: border ease var(--transition);
  border-radius: 0.15em;

  &::placeholder {
    color: var(--dark-3);
    opacity: 0.5;
  }

  &:focus {
    border: 1px solid hsla(233, 9%, 60%, 0.5);
    border-right: none;
  }
}

section {
  margin: 5% 0;

  @media (max-width: 560px) {
      margin: 8% 0;
  }
}

@mixin burger($size) {
  cursor: pointer;

  div {
    width: $size;
    height: $size/8;
    border-radius: $size/8;
    animation: ease calc(2 * var(--transition)) forwards;

    &:nth-child(2) {
      margin: $size/8 0;
    }
  }

  input {
    display: none;
  }

  &.active div {
    &:nth-child(1) {
      animation-name: active1;
    }
    &:nth-child(2) {
      animation-name: active2;
    }
    &:nth-child(3) {
      animation-name: active3;
    }

    @keyframes active1 {
      0% {
        transform: translateY(0) rotateZ(0);
      }
      50% {
        transform: translateY($size/4) rotateZ(0);
      }
      100% {
        transform: translateY($size/4) rotateZ(45deg);
      }
    }

    @keyframes active2 {
      0% {
        opacity: 1;
      }
      50%,
      100% {
        opacity: 0;
      }
    }

    @keyframes active3 {
      0% {
        transform: translateY(0) rotateZ(0);
      }
      50% {
        transform: translateY(-$size/4) rotateZ(0);
      }
      100% {
        transform: translateY(-$size/4) rotateZ(-45deg);
      }
    }
  }

  &.inactive div {
    &:nth-child(1) {
      animation-name: inactive1;
    }
    &:nth-child(2) {
      animation-name: inactive2;
    }
    &:nth-child(3) {
      animation-name: inactive3;
    }

    @keyframes inactive1 {
      0% {
        transform: translateY($size/4) rotateZ(45deg);
      }
      50% {
        transform: translateY($size/4) rotateZ(0);
      }
      100% {
        transform: translateY(0) rotateZ(0);
      }
    }

    @keyframes inactive2 {
      0%,
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes inactive3 {
      0% {
        transform: translateY(-$size/4) rotateZ(-45deg);
      }
      50% {
        transform: translateY(-$size/4) rotateZ(0);
      }
      100% {
        transform: translateY(0) rotateZ(0);
      }
    }
  }
}
