@import "./default";

.nav {
  background: var(--light-3);
  padding: 16px 0;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    color: var(--dark-1);

    span {
      color: var(--primary);
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    li:not(:last-child) {
      margin-right: 2em;
    }

    a {
      color: var(--dark-2);
      transition: color ease var(--transition);
    }

    a:hover {
      color: var(--primary);
    }
  }

  .burger {
    display: none;
    @include burger(32px);

    div {
      background: var(--dark-2);
    }
  }

  @media (max-width: 768px) {
    position: relative;

    &__menu {
      height: 0;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      background: var(--light-2);
      overflow: hidden;
      z-index: 100;
      transition: height ease calc(2 * var(--transition));

      li {
        margin: 0.5em 0 0.5em 2em !important;

        &:first-child {
          margin-top: 1.5em !important;
        }

        &:last-child {
          margin-bottom: 1.5em !important;
        }
      }
    }

    .burger {
      display: block;
    }
  }
}

.header {
  @extend section;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    width: 60%;
    margin-right: 5%;
    max-width: 480px;

    p:first-child {
      @extend a;
      color: var(--primary);
    }

    h1 {
      margin: 5% 0;
    }

    p {
      color: var(--dark-2);
    }

    form {
      width: 100%;
      margin-top: 5%;
      display: flex;
    }

    input {
      width: 100%;
    }
  }

  &__img {
    width: 40%;

    img {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    &__body {
      flex-direction: column;
    }

    &__content {
      margin: 0 0 5% 0;
      width: 100%;
      text-align: center;
    }

    &__img {
      width: 80%;
      max-width: 360px;
    }
  }
}

.advantages {
  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 74px;
      height: 74px;
      object-fit: contain;
      object-position: center;
    }

    h3 {
      margin: 1.5em 0 0.5em 0;
    }

    p {
      color: var(--dark-2);
    }
  }

  @media (max-width: 680px) {
    &__body {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
    }

    &__box {
      width: 100%;
      max-width: 320px;

      &:not(:last-child) {
        margin-bottom: 5%;
      }
    }
  }
}

.info {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__content {
    width: 45%;

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      object-position: center;
    }

    h2 {
      margin: 0.75em 0;
    }

    p {
      color: var(--dark-2);
      margin-bottom: 1em;
    }

    a {
      color: var(--primary);
    }
  }

  @media (max-width: 980px) {
    &__body {
      flex-direction: column;
    }

    &__img {
      width: 80%;
      max-width: 520px;
      margin-bottom: 5%;
    }

    &__content {
      width: 100%;
      max-width: 520px;
      text-align: center;
    }
  }
}

.info:last-child .info__img{
  margin-bottom: 0;
  margin-top: 5%;
}

.subscribe {
  background: #344763;
  padding: 8% 0;

  &__body {
    max-width: 640px;
    text-align: center;
    color: var(--light-1);
  }

  p {
    color: var(--light-3);
    margin: 2% 0 5% 0;
  }

  form {
    display: flex;

    input {
      width: 100%;
      border-radius: 0.25em 0 0 0.25em;
    }

    button {
      border-radius: 0 0.25em 0.25em 0;
    }
  }
}

.services {
  padding: 7% 0 5% 0;
  background: var(--light-2);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    text-align: center;
    margin: 3% 5%;
  }

  &__box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__box {
    border-radius: 4px;
    width: 23.5%;
    padding-top: 23.5%;
    background: var(--light-1);
    margin-bottom: 2%;
    box-shadow: 0 0 24px var(--light-3);
    position: relative;
    overflow: hidden;

    &:last-child {
      background: none;
      box-shadow: none;
      display: none;
    }

    &-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      padding: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        object-position: center;
      }

      h3 {
        margin: 5% 0 3% 0;
      }

      p {
        color: var(--dark-2);
      }
    }
  }

  @media (max-width: 980px) and (min-width: 680px) {
    &__box {
      width: 32%;
      padding-top: 32%;

      &:last-child {
        display: block;
      }
    }
  }

  @media (max-width: 679px) {
    &__box {
      width: 49%;
      padding-top: 49%;
    }
  }

  @media (max-width: 460px) {
    &__box {
      width: 80%;
      padding-top: 80%;
      margin-bottom: 5%;

      &-container {
        justify-content: center;
      }
    }
  }
}

.info-1 {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__content {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: var(--dark-2);
    margin: 28px 0;
  }

  &__box {
    display: flex;
    margin-bottom: 28px;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      object-position: center;
      margin-right: 16px;
    }

    div {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    p {
      color: var(--dark-2);
    }
  }

  &__link {
    color: var(--primary);
  }

  @media (max-width: 980px) {
    &__body {
      flex-direction: column;
    }

    &__img {
      width: 80%;
      max-width: 560px;
      margin-bottom: 7%;
    }

    &__content {
      width: 100%;
      max-width: 560px;
      align-items: center;
      text-align: center;
    }
  }
}

.pricing {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    margin: 28px 0 36px 0;
  }

  &__box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__box {
    width: 32%;
    box-shadow: 0 0 16px var(--light-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    h3 {
      color: var(--primary);
      margin-bottom: 5%;
    }

    p {
      color: var(--dark-2);
    }

    .hr {
      width: 100%;
      height: 1px;
      background: var(--light-3);
      margin: 5% 0;
    }

    span {
      @extend p;
      margin-bottom: 5%;
    }

    .btn {
      margin-top: 5%;
    }
  }

  @media (max-width: 740px) {
    &__box-container {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
    }

    &__box:not(:last-child) {
      margin-bottom: 5%;
    }

    &__box {
      width: 100%;
      max-width: 360px;
    }
  }
}