* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html:root {
    --light: hsl(0, 0%, 100%);
    --dark: hsl(240, 29%, 15%);
    --grey: hsl(0, 0%, 53%);
    --grey-light: hsl(0, 0%, 96%);
    --grey-dark: hsl(240, 1%, 57%);
    --green: hsl(149, 92%, 42%);
    --gold: hsl(54, 92%, 50%);
    --danger: hsl(15, 98%, 44%);

    --bg-green: hsla(149, 92%, 42%, 0.1);

    --transition: 150ms;
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--dark);
    background-color: var(--grey-light);
}

.scrollLock {
    overflow: hidden;
}

.container {
    max-width: calc(1252px + 36px);
    margin: 0 auto;
    padding: 0 18px;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600;
    font-size: 80px;
    line-height: 106%;
    letter-spacing: -0.02em;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.2em;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2em;
}

h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2em;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@media (max-width: 1280px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 1120px) {
    h1 {
        font-size: 64px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 56px;
    }
}

@media (max-width: 936px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 560px) {
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.12em;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    h5 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
        line-height: 1.81%;
    }
}

i.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    mask-size: contain !important;
    mask-position: center !important;
    mask-repeat: no-repeat !important;
    background: var(--dark);

    &.search {
        mask: url('../images/icons/search.svg');
    }

    &.heart {
        mask: url('../images/icons/heart.svg');
    }

    &.cart {
        mask: url('../images/icons/cart.svg');
    }

    &.logout {
        mask: url('../images/icons/logout.svg');
    }

    &.arrow-left {
        mask: url('../images/icons/arrow-left.svg');
    }

    &.arrow-right {
        mask: url('../images/icons/arrow-right.svg');
    }

    &.medal {
        mask: url('../images/icons/medal.svg');
    }

    &.shipment {
        mask: url('../images/icons/shipment.svg');
    }

    &.user {
        mask: url('../images/icons/user.svg');
    }

    &.headphone {
        mask: url('../images/icons/headphone.svg');
    }

    &.heart-alt {
        mask: url('../images/icons/heart-alt.svg');
    }

    &.scale {
        mask: url('../images/icons/scale.svg');
    }

    &.phone {
        mask: url('../images/icons/phone.svg');
    }

    &.download {
        mask: url('../images/icons/download.svg');
    }

    &.star {
        mask: url('../images/icons/star.svg');
    }
}

.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    padding: 18px 36px;
    border-radius: 4px;

    .icon {
        width: 25px;
        height: 25px;
        margin-right: 14px;
    }

    &.lg {
        padding: 27px 66px;
    }

    &.green {
        color: var(--light);
        background-color: var(--green);
    }

    &.gold {
        color: var(--light);
        background-color: var(--gold);
    }
}

@mixin burger($size) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: $size/8;
    cursor: pointer;

    span {
        width: $size;
        height: $size/8;
    }

    span:nth-child(2) {
        width: $size * 0.75;
        margin: $size/4 0;
    }

    &.open {
        span {
            animation: ease calc(2 * var(--transition)) forwards;
        }

        span:nth-child(1) {
            animation-name: open-1;
        }

        span:nth-child(2) {
            animation-name: open-2;
        }

        span:nth-child(3) {
            animation-name: open-3;
        }

        @keyframes open-1 {
            from {
                transform: translateY(0) rotate(0);
            }

            to {
                transform: translateY(3 * $size / 8) rotate(45deg);
            }
        }

        @keyframes open-2 {
            from {
                width: $size * 0.75;
                opacity: 1;
            }

            to {
                width: 0;
                opacity: 0;
            }
        }

        @keyframes open-3 {
            from {
                transform: translateY(0) rotate(0);
            }

            to {
                transform: translateY(-3 * $size / 8) rotate(-45deg);
            }
        }
    }

    &.close {
        span {
            animation: ease calc(2 * var(--transition)) forwards;
        }

        span:nth-child(1) {
            animation-name: close-1;
        }

        span:nth-child(2) {
            animation-name: close-2;
        }

        span:nth-child(3) {
            animation-name: close-3;
        }

        @keyframes close-1 {
            from {
                transform: translateY(3 * $size / 8) rotate(45deg);
            }

            to {
                transform: translateY(0) rotate(0);
            }
        }

        @keyframes close-2 {
            from {
                width: 0;
                opacity: 0;
            }

            to {
                width: $size * 0.75;
                opacity: 1;
            }
        }

        @keyframes close-3 {
            from {
                transform: translateY(-3 * $size / 8) rotate(-45deg);
            }

            to {
                transform: translateY(0) rotate(0);
            }
        }
    }
}