@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "./default";

.header {
    @extend section;
    background-image: var(--gradient-blue);
    color: var(--light);

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        width: 40%;

        img {
            width: 100%;
        }
    }

    &__content {
        width: 50%;

        h1 {
            margin-bottom: 32px;
            max-width: 560px;
        }
    }

    &__content>div {
        margin: 32px 0;
        display: flex;
        align-items: center;

        img {
            width: 140px;
            height: 42.5px;
            object-fit: contain;
            object-position: center;
        }

        a:not(:last-child) {
            margin-right: 16px;
        }
    }

    @media (max-width: 896px) {
        &__body {
            flex-direction: column;
        }

        &__img {
            width: 80%;
            max-width: 320px;
            margin-bottom: 32px;
        }

        &__content {
            width: 100%;
            max-width: 560px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.about {
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        width: 50%;

        p:first-child {
            color: var(--blue);
        }

        h2 {
            margin: 24px 0 32px 0;
        }

        h2:after {
            content: '';
            display: block;
            width: 80px;
            height: 3px;
            border-radius: 3px;
            background-color: var(--blue);
            margin-top: 24px;
        }

        &__box {
            display: flex;
            margin-top: 36px;
        }

        &__box div {
            text-align: center;
            padding: 0 24px;

            h1 {
                color: var(--blue);
                margin-bottom: 12px;
            }
        }

        &__box div:nth-child(2) {
            border-right: 1px solid var(--grey);
            border-left: 1px solid var(--grey);
        }
    }

    &__img {
        width: 45%;

        img {
            width: 100%;
        }
    }

    @media (max-width: 896px) {
        &__body {
            flex-direction: column;
        }

        &__content {
            width: 100%;
            max-width: 560px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 48px;
     
            h2::after {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__img {
            width: 80%;
            max-width: 420px;
        }
    }
}