@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

body[theme="light"] {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 20%);
  --grey: hsl(0, 0%, 83%);
  --blue: hsl(224, 95%, 30%);
  --blue-light: hsl(207, 59%, 93%);
  --gradient-blue: linear-gradient(45deg, hsl(224, 95%, 30%), hsl(205, 100%, 73%));
}

.container {
  max-width: calc(1200px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

section, .header {
  padding: 56px 0;
}

h1 {
  font-size: 48px;
  line-height: 1.2em;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 36px;
  }
}

p {
  font-size: 18px;
  line-height: 1.2em;
}

@media (max-width: 560px) {
  p {
    font-size: 16px;
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
  background: var(--dark);
}

.icon.instagran {
  -webkit-mask: url("../images/icons/instagram.svg");
          mask: url("../images/icons/instagram.svg");
}

.icon.github {
  -webkit-mask: url("../images/icons/github.svg");
          mask: url("../images/icons/github.svg");
}

.icon.linkedin {
  -webkit-mask: url("../images/icons/linkedin.svg");
          mask: url("../images/icons/linkedin.svg");
}

.header {
  background-image: var(--gradient-blue);
  color: var(--light);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 40%;
}

.header__img img {
  width: 100%;
}

.header__content {
  width: 50%;
}

.header__content h1 {
  margin-bottom: 32px;
  max-width: 560px;
}

.header__content > div {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content > div img {
  width: 140px;
  height: 42.5px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header__content > div a:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 896px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__img {
    width: 80%;
    max-width: 320px;
    margin-bottom: 32px;
  }
  .header__content {
    width: 100%;
    max-width: 560px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  width: 50%;
}

.about__content p:first-child {
  color: var(--blue);
}

.about__content h2 {
  margin: 24px 0 32px 0;
}

.about__content h2:after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--blue);
  margin-top: 24px;
}

.about__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.about__content__box div {
  text-align: center;
  padding: 0 24px;
}

.about__content__box div h1 {
  color: var(--blue);
  margin-bottom: 12px;
}

.about__content__box div:nth-child(2) {
  border-right: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
}

.about__img {
  width: 45%;
}

.about__img img {
  width: 100%;
}

@media (max-width: 896px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content {
    width: 100%;
    max-width: 560px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }
  .about__content h2::after {
    margin-left: auto;
    margin-right: auto;
  }
  .about__img {
    width: 80%;
    max-width: 420px;
  }
}
/*# sourceMappingURL=main.css.map */