@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import './default';

.nav {
    background-color: var(--light);
    padding: 23px 0;
    position: relative;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu,
    &__icons {
        display: flex;
        align-items: center;

        li:not(:last-child),
        label {
            margin-right: 28px;
        }
    }

    &__menu {
        margin: 0 auto 0 60px;

        a {
            padding: 5px;
            color: var(--dark);
            transition: color ease var(--transition);
        }

        a:hover {
            color: var(--green);
        }
    }

    &__icons {

        li,
        label {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            @include center;
            background-color: var(--grey-light);
            position: relative;
        }

        .badge {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(25%, -25%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            @include center;
            background-color: var(--danger);
            border: 2px solid var(--light);

            color: var(--light);
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__burger {
        @include burger(18px);
        margin-left: 20px;
        display: none;

        span {
            background-color: var(--dark);
        }
    }

    &__search {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--light);
        border-top: 1px solid var(--grey-light);
        border-bottom: 1px solid var(--grey-light);
        padding: 12px 0;
        overflow: hidden;
        z-index: 10;
        transform: rotateX(90deg);
        transform-origin: 0 0;
        opacity: 0;
        transition: transform ease var(--transition), opacity ease var(--transition);

        &__body {
            display: flex;
            align-items: center;
        }

        .icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input {
            width: 100%;
            border: none;
            margin-left: 20px;
            font-size: 18px;
            color: var(--dark);
        }

        input::placeholder {
            color: var(--dark);
            opacity: 0.2;
        }
    }

    &__search.active {
        transform: rotateX(0);
        opacity: 1;
    }

    @media (max-width: 1200px) {
        &__menu {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            max-width: 360px;
            flex-direction: column;
            align-items: flex-end;
            background-color: var(--green);
            border-radius: 0 0 0 4px;
            overflow: hidden;
            height: 0;
            z-index: 100;
            transition: height ease calc(2 * var(--transition));

            li {
                margin: 12px 0;
                margin-right: 18px !important;
            }

            li:first-child {
                margin-top: 24px;
            }

            li:last-child {
                margin-bottom: 24px;
            }

            a,
            a:hover {
                color: var(--light);
            }
        }

        &__menu.active {
            height: 282px;
        }

        &__burger {
            display: flex;
        }

        &__icons {
            margin-left: auto;
        }
    }

    @media (max-width: 560px) {
        &__menu {
            max-width: unset;
        }

        &__icons {

            label,
            li:last-child {
                display: none;
            }

            li:nth-child(3) {
                margin-right: 0;
            }
        }

        &__search {
            transform: rotateX(0);
            opacity: 1;

            input {
                font-size: 14px;
            }
        }
    }
}

.header {
    padding: 5px 0 46px 0;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__content {
        width: 37.8%;
        margin: 0 16px;

        h1 {
            text-transform: capitalize;
        }

        p {
            margin: 17px 0 63px 0;
        }

        &__btns {
            display: flex;
            align-items: center;
        }

        a:nth-child(2) {
            color: var(--dark);
            display: flex;
            align-items: center;
            margin-left: 5%;

            .icon {
                margin-left: 18px;
            }
        }
    }

    &__img {
        width: 57.4%;
        padding-top: 39.6%;
        margin: 0 16px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .icon {
            width: 12px;
            height: 20px;
            background: var(--grey);
        }
    }

    .owl-prev {
        left: 16px;
    }

    .owl-next {
        right: 16px;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 42px;
    }

    .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 12px;
        background-color: #E1E1E1 !important;
    }

    .owl-dot.active {
        border: 1px solid var(--grey);
    }

    @media (max-width: 1050px) {
        &__content__btns {
            width: max-content;
            flex-direction: column;
            align-items: center;

            a:last-child {
                margin-left: unset;
                margin-top: 36px;
            }
        }
    }

    @media (max-width: 936px) {
        &__body {
            flex-direction: column-reverse;
        }

        &__img {
            width: 100%;
            max-width: 560px;
            padding-top: 384px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 36px;
            width: 100%;
            text-align: center;
        }
    }

    @media (max-width: 740px) {
        &__img {
            padding-top: 60%;
        }
    }

    @media (max-width: 560px) {
        &__img {
            margin-top: 56px;
        }
    }
}

.category {
    margin: 65px 0 80px 0;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--grey);
            display: flex;
            align-items: center;
            transition: color ease var(--transition);

            .icon {
                width: 7px;
                height: 12px;
                background: var(--grey);
                margin-left: 14px;
                transition: background ease var(--transition);
            }

            span {
                margin-right: 0.25em;
            }

            @media (max-width: 560px) {
                span {
                    display: none;
                }
            }
        }

        a:hover {
            color: var(--dark);

            .icon {
                background: var(--dark);
            }
        }
    }

    &__box-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__box {
        width: 49%;
        padding-top: 56%;
        overflow: hidden;
        border-radius: 4px;
    }

    &__box,
    &__subbox {
        position: relative;

        &:hover &-img {
            transform: scale(1.1);
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 30px 40px;
            color: var(--light);

            h5 {
                display: flex;
                flex-wrap: wrap;
            }

            @media (max-width: 560px) {
                padding: 15px;
            }
        }
    }

    &__subbox-container {
        width: 49%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__subbox {
        width: 48%;
        padding-top: 48%;
        overflow: hidden;
        border-radius: 4px;

        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 4%;
        }
    }

    &__box-img,
    &__subbox-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1.03);
        transition: transform ease calc(2 * var(--transition));
    }

    &__btn {
        margin-top: 50px;
        padding: 18px 72px;

        @media (max-width: 560px) {
            margin-top: 35px;
        }
    }

    @media (max-width: 740px) {
        &__box-container {
            flex-direction: column;
        }

        &__box {
            width: 100%;
            padding-top: 112%;
            margin-bottom: 2%;
        }

        &__subbox-container {
            width: 100%;
        }

        &__subbox {
            width: 49%;
            padding-top: 49%;

            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 2%;
            }
        }
    }
}

.features {
    padding: 79px 0 74px 0;
    background-color: var(--light);

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__box {
        width: 23%;

        div {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: var(--bg-green);
            @include center;
            margin-bottom: 24px;
        }

        .icon {
            width: 22px;
            height: 22px;
            background-color: var(--green);
        }

        p {
            @extend a;
            font-size: 18px;
        }
    }

    @media (max-width: 740px) {
        &__box {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__box:first-child,
        &__box:nth-child(2) {
            margin-bottom: 52px;
        }
    }

    @media (max-width: 560px) {
        &__box {
            width: 48%;

            p {
                font-size: 16px;
            }
        }
    }
}

.popular {
    margin: 102px 0 112px 0;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--grey);
            display: flex;
            align-items: center;
            transition: color ease var(--transition);

            .icon {
                width: 7px;
                height: 12px;
                background: var(--grey);
                margin-left: 14px;
                transition: background ease var(--transition);
            }

            span {
                margin-right: 0.25em;
            }

            @media (max-width: 560px) {
                span {
                    display: none;
                }
            }
        }

        a:hover {
            color: var(--dark);

            .icon {
                background: var(--dark);
            }
        }
    }

    &__box-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    &__box {
        width: 24%;
        padding: 30px 24px;
        background-color: var(--light);
        border-radius: 4px;
        transition: box-shadow ease calc(2 * var(--transition));

        &-img {
            width: 100%;
            height: 184px;
            object-fit: contain;
            object-position: center;
        }

        &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            margin: 62px 0 12px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-reviews {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }

            i {
                width: 18px;
                height: 18px;
                background-color: var(--gold);
            }

            i:not(:last-child) {
                margin-right: 4px;
            }

            a {
                font-size: 14px;
                color: var(--grey);
                text-decoration: dotted;
                transition: color ease var(--transition);

                &:hover {
                    color: var(--dark);
                }
            }
        }

        &-price {
            margin: 42px 0 15px 0;
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                padding: 7px 0;
                background-color: var(--grey-light);
                border-radius: 100vh;

                i {
                    width: 20px;
                    height: 20px;
                    margin: 10px 20px;
                    position: relative;
                    cursor: pointer;
                }

                span {
                    width: 1px;
                    height: 36px;
                    background-color: var(--dark);
                    opacity: 0.1;
                }
            }

            a {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: var(--green);
                @include center;

                i {
                    width: 20px;
                    height: 20px;
                    background-color: var(--light);
                }
            }
        }
    }

    &__box:hover {
        box-shadow: 0px 50px 86px rgba(151, 150, 150, 0.51);
    }

    @media (max-width: 1016px) {
        &__box-container {
            justify-content: space-around;
        }

        &__box {
            width: 48%;
            max-width: 420px;
        }

        &__box:nth-child(1),
        &__box:nth-child(2) {
            margin-bottom: 4%;
        }
    }

    @media (max-width: 560px) {
        &__box {
            width: 100%;
            margin: 0 !important;
        }

        &__box:not(:last-child) {
            margin-bottom: 20px !important;
        }
    }
}

.partners {
    padding: 80px 0;
    background-color: var(--light);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--grey);
            display: flex;
            align-items: center;

            i {
                background-color: var(--grey);
                margin-left: 13px;
                width: 7px;
                height: 12px;
            }
        }
    }

    &__box-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 95px 0 55px 0;
        flex-wrap: wrap;
    }

    &__box {
        width: 25%;
        margin: 25px 0;
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }

    @media (max-width: 936px) {
        &__box {
            width: 45%;
        }
    }
}

.contact {
    padding: 124px 0;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    a {
        margin: 12px;
    }

    @media (max-width: 740px) {
        &__body {
            flex-direction: column;
        }
    }
}

.footer {
    padding: 50px 0;
    background-color: var(--light);

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 60%;
    }

    &__menu-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__menu {
        li {
            width: max-content;

            a {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                color: var(--dark);
                opacity: 0.4;
                transition: opacity ease var(--transition);
            }

            a:hover {
                opacity: 1;
            }
        }


        li:not(:last-child) {
            margin-bottom: 24px;
        }

        li:first-child {
            margin-bottom: 32px;

            a {
                opacity: 1;
                font-weight: 700;
            }
        }
    }

    &__text {
        margin-top: 48px;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        color: var(--dark);
        opacity: 0.4;
    }

    &__content {
        width: 28%;

        &-app {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 34%;
                object-fit: cover;
                object-position: center;
                margin-right: 11px;
            }
        }

        &-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 24px 0 84px 0;

            a {
                width: 45%;

                img {
                    width: 100%;
                }
            }
        }

        &-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                width: 48px;
                height: 48px;
                transition: background ease var(--transition);
            }

            i.icon.facebook:hover {
                background: hsl(221, 44%, 40%);
            }

            i.icon.instagram {
                background: linear-gradient(45deg, var(--dark), var(--dark));
            }

            i.icon.instagram:hover {
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            }

            i.icon.telegram:hover {
                background: hsl(206, 60%, 61%);
            }
        }

        &-btn {
            margin-top: 50px;
            display: inline-block;
            width: 100%;
            background: var(--grey);
            padding: 18px 22px;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: var(--light);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            transition: filter ease var(--transition);

            i {
                width: 20px;
                height: 20px;
                margin-left: 12px;
                background: var(--light);
            }

            &:hover {
                filter: brightness(120%);
            }

            &:active {
                filter: brightness(80%);
            }
        }
    }

    @media (max-width: 1016px) {
        &__left {
            width: 65%;
        }
    }

    @media (max-width: 936px) {
        &__body {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__content {
            width: 100%;
            max-width: 360px;
        }

        &__left {
            margin-top: 90px;
            width: 100%;
        }
    }

    @media (max-width: 740px) {
        &__menu-container {
            flex-wrap: wrap;
        }

        &__menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                width: 45%;
            }

            li:first-child {
                width: 100%;
            }
        }
    }
}