* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--dark);
  background-color: var(--grey);

  &[theme="light"] {
    --light: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
    --grey: hsl(0, 0%, 96%);

    --bg-light: hsla(0, 0%, 100%, 0.5);
  }

  --transition: 150ms;
}

.container {
  max-width: calc(1196px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

.scroll-lock {
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2em;
  letter-spacing: -2%;

  @media (max-width: 1024px) {
    font-size: 46px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }

  @media (max-width: 560px) {
    font-size: 28px;
  }

  @media (max-width: 414px) {
    font-size: 18px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47.73px;
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 31.03px;
  line-height: 1.2em;

  @media (max-width: 1024px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }

  @media (max-width: 560px) {
    font-size: 18px;
  }

  @media (max-width: 414px) {
    font-size: 14px;
  }
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.64px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -2%;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -2%;
}

i.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  mask-size: contain !important;
  mask-position: center !important;
  mask-repeat: no-repeat !important;
  background: var(--dark);

  &.search {
    mask: url('../images/icons/search.svg');
  }

  &.heart {
    mask: url('../images/icons/heart.svg');
  }

  &.bag {
    mask: url('../images/icons/bag.svg');
  }

  &.arrow-left {
    mask: url('../images/icons/arrow-left.svg');
  }

  &.arrow-right {
    mask: url('../images/icons/arrow-right.svg');
  }

  &.facebook {
    mask: url('../images/icons/facebook.svg');
  }

  &.instagram {
    mask: url('../images/icons/instagram.svg');
  }

  &.twitter {
    mask: url('../images/icons/twitter.svg');
  }

  &.linkedin {
    mask: url('../images/icons/linkedin.svg');
  }

  &.pinterest {
    mask: url('../images/icons/pinterest.svg');
  }

  &.youtube {
    mask: url('../images/icons/youtube.svg');
  }

  @media (max-width: 560px) {
    width: 18px;
    height: 18px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.25px;
  letter-spacing: -2%;
  padding: 18px 50px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }

  &.sm {
    font-size: 16px;
    line-height: 19.09px;
    letter-spacing: 0;
    padding: 5px 34px;
  }

  &.lg {
    padding: 18px 90px;

    @media (max-width: 1024px) {
      padding: 16px 56px;
    }

    @media (max-width: 768px) {
      padding: 12px 36px;
    }
  }

  &.light {
    color: var(--dark);
    background-color: var(--light);
  }

  &.dark {
    color: var(--light);
    background-color: var(--dark);
  }
}

@mixin burger($size) {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $size/5;

  span {
    width: $size;
    height: $size/7.5;
    animation: ease calc(2 * var(--transition)) forwards;
  }

  span:nth-child(2) {
    margin: $size/5 0;
  }

  &.active span {
    &:nth-child(1) {
      animation-name: active-1;
    }

    &:nth-child(2) {
      animation-name: active-2;
    }

    &:nth-child(3) {
      animation-name: active-3;
    }
  }

  &.inactive span {
    &:nth-child(1) {
      animation-name: inactive-1;
    }

    &:nth-child(2) {
      animation-name: inactive-2;
    }

    &:nth-child(3) {
      animation-name: inactive-3;
    }
  }

  @keyframes active-1 {
    0% {
      transform: translateY(0) rotateZ(0);
    }

    50% {
      transform: translateY($size/3) rotateZ(0);
    }

    100% {
      transform: translateY($size/3) rotateZ(45deg);
    }
  }

  @keyframes active-2 {
    0% {
      width: $size;
      opacity: 1;
    }

    50%,
    100% {
      width: 0;
      opacity: 0;
    }
  }

  @keyframes active-3 {
    0% {
      transform: translateY(0) rotateZ(0);
    }

    50% {
      transform: translateY(-$size/3) rotateZ(0);
    }

    100% {
      transform: translateY(- $size/3) rotateZ(-45deg);
    }
  }

  @keyframes inactive-1 {
    0% {
      transform: translateY($size/3) rotateZ(45deg);
    }

    50% {
      transform: translateY($size/3) rotateZ(0);
    }

    100% {
      transform: translateY(0) rotateZ(0);
    }
  }

  @keyframes inactive-2 {

    0%,
    50% {
      width: 0;
      opacity: 0;
    }

    100% {
      width: $size;
      opacity: 1;
    }
  }

  @keyframes inactive-3 {
    0% {
      transform: translateY(- $size/3) rotateZ(-45deg);
    }

    50% {
      transform: translateY(- $size/3) rotateZ(0);
    }

    100% {
      transform: translateY(0) rotateZ(0);
    }
  }
}