@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--dark);
  background-color: var(--grey);
  --transition: 150ms;
}

body[theme="light"] {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 96%);
  --bg-light: hsla(0, 0%, 100%, 0.5);
}

.container {
  max-width: calc(1196px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

.scroll-lock {
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2em;
  letter-spacing: -2%;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 18px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47.73px;
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 31.03px;
  line-height: 1.2em;
}

@media (max-width: 1024px) {
  h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

@media (max-width: 560px) {
  h3 {
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  h3 {
    font-size: 14px;
  }
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.64px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -2%;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -2%;
}

i.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
  background: var(--dark);
}

i.icon.search {
  -webkit-mask: url("../images/icons/search.svg");
          mask: url("../images/icons/search.svg");
}

i.icon.heart {
  -webkit-mask: url("../images/icons/heart.svg");
          mask: url("../images/icons/heart.svg");
}

i.icon.bag {
  -webkit-mask: url("../images/icons/bag.svg");
          mask: url("../images/icons/bag.svg");
}

i.icon.arrow-left {
  -webkit-mask: url("../images/icons/arrow-left.svg");
          mask: url("../images/icons/arrow-left.svg");
}

i.icon.arrow-right {
  -webkit-mask: url("../images/icons/arrow-right.svg");
          mask: url("../images/icons/arrow-right.svg");
}

i.icon.facebook {
  -webkit-mask: url("../images/icons/facebook.svg");
          mask: url("../images/icons/facebook.svg");
}

i.icon.instagram {
  -webkit-mask: url("../images/icons/instagram.svg");
          mask: url("../images/icons/instagram.svg");
}

i.icon.twitter {
  -webkit-mask: url("../images/icons/twitter.svg");
          mask: url("../images/icons/twitter.svg");
}

i.icon.linkedin {
  -webkit-mask: url("../images/icons/linkedin.svg");
          mask: url("../images/icons/linkedin.svg");
}

i.icon.pinterest {
  -webkit-mask: url("../images/icons/pinterest.svg");
          mask: url("../images/icons/pinterest.svg");
}

i.icon.youtube {
  -webkit-mask: url("../images/icons/youtube.svg");
          mask: url("../images/icons/youtube.svg");
}

@media (max-width: 560px) {
  i.icon {
    width: 18px;
    height: 18px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.25px;
  letter-spacing: -2%;
  padding: 18px 50px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 16px;
  }
}

.btn.sm {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: 0;
  padding: 5px 34px;
}

.btn.lg {
  padding: 18px 90px;
}

@media (max-width: 1024px) {
  .btn.lg {
    padding: 16px 56px;
  }
}

@media (max-width: 768px) {
  .btn.lg {
    padding: 12px 36px;
  }
}

.btn.light {
  color: var(--dark);
  background-color: var(--light);
}

.btn.dark {
  color: var(--light);
  background-color: var(--dark);
}

.nav {
  position: fixed;
  background-color: var(--bg-light);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  width: 100%;
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu li:not(:last-child) {
  margin-right: 50px;
}

.nav__menu a {
  display: inline-block;
  color: var(--dark);
  opacity: 0.4;
  -webkit-transition: opacity ease var(--transition);
  transition: opacity ease var(--transition);
  padding: 30px 0;
  position: relative;
}

.nav__menu a:hover {
  opacity: 1;
}

.nav__menu a.active {
  opacity: 1;
}

.nav__menu a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: var(--dark);
}

.nav__burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  display: none;
}

.nav__burger span {
  width: 15px;
  height: 2px;
  -webkit-animation: ease calc(2 * var(--transition)) forwards;
          animation: ease calc(2 * var(--transition)) forwards;
}

.nav__burger span:nth-child(2) {
  margin: 3px 0;
}

.nav__burger.active span:nth-child(1) {
  -webkit-animation-name: active-1;
          animation-name: active-1;
}

.nav__burger.active span:nth-child(2) {
  -webkit-animation-name: active-2;
          animation-name: active-2;
}

.nav__burger.active span:nth-child(3) {
  -webkit-animation-name: active-3;
          animation-name: active-3;
}

.nav__burger.inactive span:nth-child(1) {
  -webkit-animation-name: inactive-1;
          animation-name: inactive-1;
}

.nav__burger.inactive span:nth-child(2) {
  -webkit-animation-name: inactive-2;
          animation-name: inactive-2;
}

.nav__burger.inactive span:nth-child(3) {
  -webkit-animation-name: inactive-3;
          animation-name: inactive-3;
}

@-webkit-keyframes active-1 {
  0% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(5px) rotateZ(0);
            transform: translateY(5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(5px) rotateZ(45deg);
            transform: translateY(5px) rotateZ(45deg);
  }
}

@keyframes active-1 {
  0% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(5px) rotateZ(0);
            transform: translateY(5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(5px) rotateZ(45deg);
            transform: translateY(5px) rotateZ(45deg);
  }
}

@-webkit-keyframes active-2 {
  0% {
    width: 15px;
    opacity: 1;
  }
  50%,
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes active-2 {
  0% {
    width: 15px;
    opacity: 1;
  }
  50%,
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes active-3 {
  0% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(-5px) rotateZ(0);
            transform: translateY(-5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(-5px) rotateZ(-45deg);
            transform: translateY(-5px) rotateZ(-45deg);
  }
}

@keyframes active-3 {
  0% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(-5px) rotateZ(0);
            transform: translateY(-5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(-5px) rotateZ(-45deg);
            transform: translateY(-5px) rotateZ(-45deg);
  }
}

@-webkit-keyframes inactive-1 {
  0% {
    -webkit-transform: translateY(5px) rotateZ(45deg);
            transform: translateY(5px) rotateZ(45deg);
  }
  50% {
    -webkit-transform: translateY(5px) rotateZ(0);
            transform: translateY(5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

@keyframes inactive-1 {
  0% {
    -webkit-transform: translateY(5px) rotateZ(45deg);
            transform: translateY(5px) rotateZ(45deg);
  }
  50% {
    -webkit-transform: translateY(5px) rotateZ(0);
            transform: translateY(5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

@-webkit-keyframes inactive-2 {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 15px;
    opacity: 1;
  }
}

@keyframes inactive-2 {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 15px;
    opacity: 1;
  }
}

@-webkit-keyframes inactive-3 {
  0% {
    -webkit-transform: translateY(-5px) rotateZ(-45deg);
            transform: translateY(-5px) rotateZ(-45deg);
  }
  50% {
    -webkit-transform: translateY(-5px) rotateZ(0);
            transform: translateY(-5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

@keyframes inactive-3 {
  0% {
    -webkit-transform: translateY(-5px) rotateZ(-45deg);
            transform: translateY(-5px) rotateZ(-45deg);
  }
  50% {
    -webkit-transform: translateY(-5px) rotateZ(0);
            transform: translateY(-5px) rotateZ(0);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
  }
}

.nav__burger span {
  background-color: var(--dark);
}

.nav__burger input {
  display: none;
}

.nav__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
}

.nav__logo img {
  width: 100%;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons li:not(:last-child) {
  margin-right: 50px;
}

.nav__icons img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1024px) {
  .nav {
    padding: 16px 0;
  }
  .nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--grey);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 360px;
    overflow: hidden;
    height: 0;
    -webkit-transition: height ease calc(2 * var(--transition));
    transition: height ease calc(2 * var(--transition));
  }
  .nav__menu li {
    margin: 0 0 0 16px !important;
  }
  .nav__menu li:first-child {
    margin-top: 16px !important;
  }
  .nav__menu li:last-child {
    margin-bottom: 16px !important;
  }
  .nav__menu a {
    padding: 16px 0;
  }
  .nav__menu a.active::after {
    display: none;
  }
  .nav__menu.active {
    height: 287.39px;
  }
}

@media (max-width: 768px) {
  .nav__icons li:not(:last-child) {
    margin-right: 32px;
  }
}

@media (max-width: 620px) {
  .nav__icons li:nth-child(2),
  .nav__icons li:last-child {
    display: none;
  }
  .nav__icons li {
    margin: 0 !important;
  }
  .nav__icons li:first-child {
    margin-right: 32px !important;
  }
}

@media (max-width: 560px) {
  .nav__menu {
    max-width: unset;
  }
}

.header {
  margin-top: 79.08px;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;
  color: var(--light);
}

.header__body {
  padding-top: 13%;
  padding-bottom: 13%;
}

.header h3 {
  margin: 10px 0 62px 0;
}

@media (max-width: 1024px) {
  .header {
    margin-top: 82px;
  }
  .header h3 {
    margin: 10px 0 56px 0;
  }
}

@media (max-width: 620px) {
  .header {
    margin-top: 56px;
  }
  .header h3 {
    margin: 8px 0 48px 0;
  }
}

@media (max-width: 560px) {
  .header {
    margin-top: 54px;
  }
  .header h3 {
    margin: 10px 0 28px 0;
  }
}

.popular {
  margin-top: 7%;
}

.popular__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__header h2 {
  text-transform: uppercase;
}

.popular__header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__header .icon {
  width: 30px;
  height: 30px;
}

.popular__header .icon:first-child {
  margin-right: 59px;
}

.popular__box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.popular__box {
  width: 48%;
  padding-top: 38%;
  position: relative;
}

.popular__box-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 30px;
}

.popular__box-content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.popular__box-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popular__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
/*# sourceMappingURL=main.css.map */