* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:root {
  --light: hsl(0, 0%, 98%);
  --dark: hsl(218, 64%, 8%);
  --blue: hsl(201, 100%, 56%);
  --blue-dark: hsl(219, 52%, 14%);
  --blue-darker: hsl(218, 64%, 10%);

  --transition: 150ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--light);
  background-color: var(--blue-dark);
}

.container {
  max-width: calc(1200px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2em;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2em;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
}

h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}

a {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2em;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 38px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 15px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }
}

i.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  mask-size: contain !important;
  mask-position: center !important;
  mask-repeat: no-repeat !important;
  background: var(--light);

  &.arrow-down {
    mask: url('../images/icons/arrow-down.svg');
  }

  &.right {
    mask: url('../images/icons/arrow-right.svg');
  }
}

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: 0.25em;

  &.blue {
    color: var(--light);
    background-color: var(--blue);
  }

  &.transparent {
    color: var(--light);
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

@mixin burger($size) {
  cursor: pointer;
  padding: $size/8;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    display: none;
  }

  span {
    width: $size;
    height: $size/10;
    border-radius: $size/10;
    animation: ease calc(2 * var(--transition)) forwards;
  }

  span:nth-child(2) {
    margin: $size/5 0;
  }

  &.active span {
    &:nth-child(1) {
      animation-name: active-1;
    }

    &:nth-child(2) {
      animation-name: active-2;
    }

    &:nth-child(3) {
      animation-name: active-3;
    }
  }

  &.inactive span {
    &:nth-child(1) {
      animation-name: inactive-1;
    }

    &:nth-child(2) {
      animation-name: inactive-2;
    }

    &:nth-child(3) {
      animation-name: inactive-3;
    }
  }

  @keyframes active-1 {
    0% {
      transform: translateY(0) rotate(0);
    }

    50% {
      transform: translateY(3 * $size / 10) rotate(0);
    }

    100% {
      transform: translateY(3 * $size / 10) rotate(45deg);
    }
  }

  @keyframes active-2 {
    0% {
      width: $size;
      opacity: 1;
    }

    50%,
    100% {
      width: 0;
      opacity: 0;
    }
  }

  @keyframes active-3 {
    0% {
      transform: translateY(0) rotate(0);
    }

    50% {
      transform: translateY(-3 * $size / 10) rotate(0);
    }

    100% {
      transform: translateY(-3 * $size / 10) rotate(-45deg);
    }
  }

  @keyframes inactive-1 {
    0% {
      transform: translateY(3 * $size / 10) rotate(45deg);
    }

    50% {
      transform: translateY(3 * $size / 10) rotate(0);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes inactive-2 {

    0%,
    50% {
      width: 0;
      opacity: 0;
    }

    100% {
      width: $size;
      opacity: 1;
    }
  }

  @keyframes inactive-3 {
    0% {
      transform: translateY(-3 * $size / 10) rotate(-45deg);
    }

    50% {
      transform: translateY(-3 * $size / 10) rotate(0);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }
}