@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:root {
  --light: hsl(0, 0%, 98%);
  --dark: hsl(218, 64%, 8%);
  --blue: hsl(201, 100%, 56%);
  --blue-dark: hsl(219, 52%, 14%);
  --blue-darker: hsl(218, 64%, 10%);
  --transition: 150ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--light);
  background-color: var(--blue-dark);
}

.container {
  max-width: calc(1200px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2em;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2em;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
}

h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}

a {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2em;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 38px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 19px;
  }
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 37px;
  }
  h2 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
}

i.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
  background: var(--light);
}

i.icon.arrow-down {
  -webkit-mask: url("../images/icons/arrow-down.svg");
          mask: url("../images/icons/arrow-down.svg");
}

i.icon.right {
  -webkit-mask: url("../images/icons/arrow-right.svg");
          mask: url("../images/icons/arrow-right.svg");
}

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: 0.25em;
}

.btn.blue {
  color: var(--light);
  background-color: var(--blue);
}

.btn.transparent {
  color: var(--light);
  background-color: rgba(255, 255, 255, 0.2);
}

.nav {
  padding: 16px 0;
  position: relative;
  z-index: 10;
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__burger {
  cursor: pointer;
  padding: 3.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.nav__burger input {
  display: none;
}

.nav__burger span {
  width: 28px;
  height: 2.8px;
  border-radius: 2.8px;
  -webkit-animation: ease calc(2 * var(--transition)) forwards;
          animation: ease calc(2 * var(--transition)) forwards;
}

.nav__burger span:nth-child(2) {
  margin: 5.6px 0;
}

.nav__burger.active span:nth-child(1) {
  -webkit-animation-name: active-1;
          animation-name: active-1;
}

.nav__burger.active span:nth-child(2) {
  -webkit-animation-name: active-2;
          animation-name: active-2;
}

.nav__burger.active span:nth-child(3) {
  -webkit-animation-name: active-3;
          animation-name: active-3;
}

.nav__burger.inactive span:nth-child(1) {
  -webkit-animation-name: inactive-1;
          animation-name: inactive-1;
}

.nav__burger.inactive span:nth-child(2) {
  -webkit-animation-name: inactive-2;
          animation-name: inactive-2;
}

.nav__burger.inactive span:nth-child(3) {
  -webkit-animation-name: inactive-3;
          animation-name: inactive-3;
}

@-webkit-keyframes active-1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(8.4px) rotate(0);
            transform: translateY(8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(8.4px) rotate(45deg);
            transform: translateY(8.4px) rotate(45deg);
  }
}

@keyframes active-1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(8.4px) rotate(0);
            transform: translateY(8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(8.4px) rotate(45deg);
            transform: translateY(8.4px) rotate(45deg);
  }
}

@-webkit-keyframes active-2 {
  0% {
    width: 28px;
    opacity: 1;
  }
  50%,
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes active-2 {
  0% {
    width: 28px;
    opacity: 1;
  }
  50%,
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes active-3 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-8.4px) rotate(0);
            transform: translateY(-8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-8.4px) rotate(-45deg);
            transform: translateY(-8.4px) rotate(-45deg);
  }
}

@keyframes active-3 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-8.4px) rotate(0);
            transform: translateY(-8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-8.4px) rotate(-45deg);
            transform: translateY(-8.4px) rotate(-45deg);
  }
}

@-webkit-keyframes inactive-1 {
  0% {
    -webkit-transform: translateY(8.4px) rotate(45deg);
            transform: translateY(8.4px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8.4px) rotate(0);
            transform: translateY(8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes inactive-1 {
  0% {
    -webkit-transform: translateY(8.4px) rotate(45deg);
            transform: translateY(8.4px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8.4px) rotate(0);
            transform: translateY(8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes inactive-2 {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 28px;
    opacity: 1;
  }
}

@keyframes inactive-2 {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 28px;
    opacity: 1;
  }
}

@-webkit-keyframes inactive-3 {
  0% {
    -webkit-transform: translateY(-8.4px) rotate(-45deg);
            transform: translateY(-8.4px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8.4px) rotate(0);
            transform: translateY(-8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes inactive-3 {
  0% {
    -webkit-transform: translateY(-8.4px) rotate(-45deg);
            transform: translateY(-8.4px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8.4px) rotate(0);
            transform: translateY(-8.4px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

.nav__burger span {
  background: var(--light);
}

.nav__logo {
  width: 140px;
}

.nav__logo img {
  width: 100%;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link, .nav__dropdown__menu a {
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 0.75em;
}

.nav__link .icon, .nav__dropdown__menu a .icon {
  margin-left: 8px;
}

.nav__dropdown {
  position: relative;
}

.nav__dropdown__menu {
  background: var(--dark);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: height ease calc(2 * var(--transition));
  transition: height ease calc(2 * var(--transition));
}

.nav__dropdown__menu a {
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition: background ease var(--transition);
  transition: background ease var(--transition);
}

.nav__dropdown__menu a:hover {
  background: var(--blue);
}

@media (min-width: 681px) {
  .nav__menu {
    height: auto !important;
  }
}

@media (max-width: 860px) {
  .nav__btn {
    display: none;
  }
}

@media (max-width: 680px) {
  .nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__menu {
    background-color: var(--blue-darker);
    position: absolute;
    top: 100%;
    max-width: 420px;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    height: 0;
    -webkit-transition: height ease calc(2 * var(--transition));
    transition: height ease calc(2 * var(--transition));
  }
  .nav__link, .nav__dropdown__menu a {
    padding: 0.75em 0.75em 0.75em 24px;
  }
  .nav__dropdown {
    width: 100%;
  }
  .nav__dropdown__menu {
    width: 100%;
    position: unset;
  }
  .nav__dropdown__menu a {
    padding: 0.75em 0.75em 0.75em 24px;
  }
}

@media (max-width: 560px) {
  .nav__menu {
    max-width: unset;
  }
}

.header {
  padding: 32px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  width: 50%;
}

.header__content p {
  opacity: 0.8;
  margin: 32px 0;
  max-width: 560px;
}

.header__img {
  width: 40%;
}

.header__img img {
  width: 100%;
}

@media (max-width: 680px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__content {
    width: 100%;
    max-width: 520px;
    text-align: center;
    margin-bottom: 36px;
  }
  .header__img {
    width: 80%;
    max-width: 360px;
  }
}
/*# sourceMappingURL=main.css.map */